<br />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Area do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Pagina Home</a>
</div>
